@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.total-available-width {
  width: -webkit-fill-available;
}

.dark-button {
  background-image: linear-gradient(105deg, #363882, #6369C4);
}


.form-left-section {
  @media (min-width: 768px) {
    width: 90%;
    margin-left: auto;
  }
}
.dark-button:hover {
  background-image: none;
  background-color: #6369c4;
}

.light-testimonial-text {
  color: #6369C4;
}

.dark-testimonial-text {
  color: #363882;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.navbar-fading {
  opacity: 100;
  -webkit-animation: fadein 2s;
}

.bg-dark-indigo {
  background-color: #363882;
}

.bg-light-indigo {
  background-color: #6369C4;
}

.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}
.swiper-wrapper {
  margin-bottom: 48px !important;
}

.swiper-pagination-bullet {
  width: 100px !important;
  height: 4px !important;
  border-radius: 0 !important;
  background-color: rgb(54,56,130, 0.8) !important;

}

.swiper-pagination-bullet-active {
  background-color: #6369C4 !important;
}
